body{
    font-family: 'Montserrat', sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin-left: 150px;
    margin-right: 150px;
}

.firstHeader{
    background: #ebebeb;
    color: black;
    width: 940px;
    height: 100px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.headerText{
    padding-top: 30px;
}

.nav{
    background: #ebebeb;
    color: black;
    width: 940px;
    height: 100px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;

}

.navText{
    padding-top: 30px;
}

.subSection{
    background: #ebebeb;
    color: black;
    width: 420px;
    height: 300px;
    text-align: center;
    margin-top: 1%;
    margin-left: 150px;
    margin-right: 50px;
    align-items: center;
}

.sectionText{
    padding-top: 5px;
}

.articleSection{
    background: #777;
    width: 350px;
    height: 200px;
    text-align: center;
    margin-right: 10px;
    margin-left:10px;
    align-self: auto;
  position: relative;
  padding-left: -30px;
  float: left;
}
.artcleText{
    padding-top:15px;
    color: #ebebeb;
}

.subArticle{
    background: #ebebeb;
    width: 50%;
    height: 60px;
    text-align: center;
    margin: auto;

}
.fontSize{
    padding-top: 17px;
    font-weight: bold;
}


.paragraph{
    background: #ebebeb;
    width: 50%;
    height: 25%;
    text-align: center;
    margin: auto;
}

.paragraphText{
    padding-top:10px;
}

.grid-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    }

.asideBox{
    display: grid;
    background: #ebebeb;
    width: 410px;
    height: 290px;
    text-align: center;
    padding-left: -150px;
    padding-right: 85px;

}
.footer{
    background: #ebebeb;
    color: black;
    width: 940px;
    height: 100px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.footerText{
    padding-top: 30px;
}
